@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');

.header {
  width: 100vw;
  height: 125px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid black;
  z-index: 5;
}

.logo img {
  max-width: 150px; 
  height: auto;
  margin-left: 100px;
}

.header-buttons {
  display: flex;
  gap: 20px;
  margin-right: 100px;
}

.header-buttons button {
  padding: 10px 20px;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 36px;
  font-family: 'Inknut Antiqua', serif;
}

  @media (max-width: 890px) {
    .logo img{
      display: none
    }

    .header{
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .header-buttons {
      display: flex;
    }

    .header-buttons button {
      padding: 0 0;
      color: black;
      border: none;
      cursor: pointer;
      font-size: 2.5rem;
      background-color: inherit;
      font-family: 'Inknut Antiqua', serif;
    }
  }

  @media (max-width: 750px) {
    .header-buttons button {
      font-size: 2rem;
    }
    .header{
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .header-buttons {
      display: flex;
      gap: 10px;
      margin-right: 15%;
    }
  }

  
  @media (max-width: 650px) {
    .header-buttons button {
      font-size: 1.75rem;
    }
    .header{
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .header-buttons {
      display: flex;
      gap: 10px;
      margin-right: 15%;
    }
  }

  @media (max-width: 500px) {
    .header-buttons button {
      font-size: 1.5rem;
    }
    .header{
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .header-buttons {
      display: flex;
      gap: 10px;
      margin-right: 10%;
    }
  }

  @media (max-width: 355px) {
    .header-buttons button {
      font-size: 1.35rem;
    }
    .header{
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

