@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');

.header {
    width: 100vw;
    height: 125px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    position: fixed;
  }


  .logo img {
    max-width: 150px; 
    height: auto;
    background-color: red;
  }


  .header-buttons {
    display: flex;
    gap: 20px;
    background-color: red;
  }

  .header-buttons button {
    padding: 10px 20px;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 36px;
    background-color: inherit;
    font-family: 'Inknut Antiqua', serif;
  }

  @media (max-width: 768px) {
    .logo img{
        display: none
    };
    .header{
        display: flex;
        gap: 5px;
        justify-content: center;
        padding: 0 0;
    }
    .header-buttons {
        display: flex;
      }
    .header-buttons button {
        padding: 0 0;
        color: black;
        border: none;
        cursor: pointer;
        font-size: 22px;
        background-color: inherit;
        font-family: 'Inknut Antiqua', serif;
      }
  }